<h1>Danh sách báo cáo bài viết</h1>
<div class="container">
    {{#each report_post_list}}
    <div class="report-post-tong">
        <div class="report-post">
            <!-- Cột 1: Bài Post -->
            <div class="post-content">
                <h4>Bài viết:</h4>
                <div class="post-header">
                    <img class="avatar" src="{{ID_post.ID_user.avatar}}" alt="User Avatar">
                    <div>
                        <span style="color: black; font-size: 20px; font-weight: bold;">{{ID_post.ID_user.first_name}}
                            {{ID_post.ID_user.last_name}}</span>
                        {{#if (gt ID_post.tags.length 0)}}
                        <span style="color: gray; font-size: 16px;"> cùng với </span>
                        <a style="color: black; font-size: 20px; font-weight: bold; ">
                            {{ID_post.tags.[0].first_name}} {{ID_post.tags.[0].last_name}}
                        </a>
                        {{#if (gt ID_post.tags.length 1)}}
                        <span style="color: gray; font-size: 16px;"> và </span>
                        <a style="color: black; font-size: 20px; font-weight: bold;">
                            {{sub ID_post.tags.length 1}} người khác
                        </a>
                        {{/if}}
                        {{/if}}

                        <p>{{ID_post.status}}</p>
                    </div>
                </div>
                <div class="post-body">
                    <p>{{ID_post.caption}}</p>
                </div>

                <div class="media-container">
                    {{#each ID_post.medias}}
                    {{#lt @index 5}}
                    <div class="media-item {{getMediaStyle ../ID_post.medias.length @index}}">
                        {{#if (eq (getMediaType this) "video")}}
                        <div class="video-wrapper">
                            <video src="{{this}}" class="video" controls></video>
                            <div class="play-button">
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </div>
                        {{else}}
                        <img src="{{this}}" class="image" alt="Post Image">
                        {{/if}}

                        {{#if (and (eq @index 4) (gt ../ID_post.medias.length 5))}}
                        <div class="overlay">+{{sub ../ID_post.medias.length 5}}</div>
                        {{/if}}
                    </div>
                    {{/lt}}
                    {{/each}}
                </div>

                {{!-- share --}}
                {{#if ID_post.ID_post_shared}}
                <div class="share">
                    <div class="post-header">
                        <img class="avatar" src="{{ID_post.ID_post_shared.ID_user.avatar}}" alt="User Avatar">
                        <div>
                            <span
                                style="color: black; font-size: 20px; font-weight: bold;">{{ID_post.ID_post_shared.ID_user.first_name}}
                                {{ID_post.ID_post_shared.ID_user.last_name}}</span>
                            {{#if (gt ID_post.ID_post_shared.tags.length 0)}}
                            <span style="color: gray; font-size: 16px;"> cùng với </span>
                            <a style="color: black; font-size: 20px; font-weight: bold; ">
                                {{ID_post.ID_post_shared.tags.[0].first_name}}
                                {{ID_post.ID_post_shared.tags.[0].last_name}}
                            </a>
                            {{#if (gt ID_post.ID_post_shared.tags.length 1)}}
                            <span style="color: gray; font-size: 16px;"> và </span>
                            <a style="color: black; font-size: 20px; font-weight: bold;">
                                {{sub ID_post.ID_post_shared.tags.length 1}} người khác
                            </a>
                            {{/if}}
                            {{/if}}
                            <p>{{ID_post.ID_post_shared.status}}</p>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>{{ID_post.ID_post_shared.caption}}</p>
                    </div>

                    <div class="media-container">
                        {{#each ID_post.ID_post_shared.medias}}
                        {{#lt @index 5}}
                        <div class="media-item {{getMediaStyle ../ID_post.ID_post_shared.medias.length @index}}">
                            {{#if (eq (getMediaType this) "video")}}
                            <div class="video-wrapper">
                                <video src="{{this}}" class="video" controls></video>
                                <div class="play-button">
                                    <i class="fa fa-play-circle"></i>
                                </div>
                            </div>
                            {{else}}
                            <img src="{{this}}" class="image" alt="Post Image">
                            {{/if}}

                            {{#if (and (eq @index 4) (gt ../ID_post.ID_post_shared.medias.length 5))}}
                            <div class="overlay">+{{sub ../ID_post.ID_post_shared.medias.length 5}}</div>
                            {{/if}}
                        </div>
                        {{/lt}}
                        {{/each}}
                    </div>
                </div>
                {{/if}}

            </div>

            <!-- Cột 2: Danh sách reporters -->
            <div class="reporters-list">
                <h4>Những tài khoản báo cáo:</h4>
                <ul>
                    {{#each reporters}}
                    <li class="reporter">
                        <img class="avatar-small" src="{{this.avatar}}" alt="Reporter Avatar">
                        <span>{{this.first_name}} {{this.last_name}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="report-action">
            <button class="ban" data-report-id="{{_id}}">Khóa</button>
        </div>
    </div>
    {{/each}}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".ban").forEach(button => {
            button.addEventListener("click", async function () {
                const reportPostId = this.getAttribute("data-report-id");

                if (!confirm("Bạn có chắc muốn khóa bài viết này?")) return;

                try {
                    const response = await fetch("/report_post/banPost", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ ID_report_post: reportPostId }),
                    });

                    const result = await response.json();

                    if (result.status) {
                        alert("Bài viết đã bị khóa.");
                        this.closest(".report-post-tong").remove(); // Xóa bài bị khóa khỏi giao diện
                    } else {
                        alert("Lỗi: " + result.message);
                    }
                } catch (error) {
                    console.error("Lỗi khi gửi yêu cầu:", error);
                    alert("Có lỗi xảy ra, vui lòng thử lại.");
                }
            });
        });
    });
</script>